{
    "extends":"eslint:recommended",
    "env":{
        "node":true
    },
    "globals":{
        "Promise": true,
        "navigator": true,
        "pluginOptions": true
    },
    "parserOptions":{
        "ecmaVersion": 6,
        "sourceType":"module"
    }
}
